body {
    font-family: sans-serif;
background-image: linear-gradient(blue,violet);

}

header{
background-image: linear-gradient(green,blue);
padding: 45px 0px 45px 30px;


}
.link-header{
text-decoration: none;
background-color:brown;
padding: 5px;
font-size: 25px;
color:blanchedalmond;
}
h1{
text-align: center;
color: #00CC00;
font-size: 96px;
text-shadow: 10px 15px 12px black;

}
ul li{
font-size: 20px;
font-weight: bold;

}
nav a{
color:aquamarine;
text-decoration: none;


}
nav{
padding: 35px 40px 0px 40px;



}
.link-nav {
color:#BF3030;
font-size: 24px;
margin-right: 35px;
text-decoration: none;
border:2px solid #A60000;
padding: 9px;
background-color: #FF7373;
}
  p{
font-size: 24px;
margin-left: 60px;



 }
 .link-header:hover{

box-shadow: 0px 10px 10px 0 black;





 }

.link-nav:hover{
background-color: #BF3030;
color:#FF7373;


}
ol{
font-size: 24px;
margin-left: 60px;



}

li{
margin-bottom: 20px;




}
h2{
color:#8cffffe9;
font-size: 64px;
margin-left: 60px;


}
.social{
margin: 30px;
display: inline-block;


}
